@import url('./_black/header__logo_black.css');

.header__logo {
    font-family: Roboto Slab, Times;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 104px;
    margin-bottom: 28px;
}


@media screen and (max-width: 1100px) {
  .header__logo {
    padding-left: 80px;

  }

}

@media screen and (max-width: 950px) {
  .header__logo {
    padding-left: 40px;

  }

}

@media screen and (max-width: 770px) {
  .header__logo {
    margin-bottom: 18px;

  }

}


@media screen and (max-width: 509px) {
  .header__logo {
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 14px;

  }

}
