@import url('./_black/main-saved__text_black.css');

.main-saved__text {
  margin: 40px 0 0 104px;
  font-family: Roboto, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);

}