.result-search__title {
  font-family: Roboto Slab, Times;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-left: 104px;
  margin-top: 80px;
  margin-bottom: 47px;

}



@media screen and (max-width: 930px) {
  .result-search__title {
    padding: 0 0 0 0;
    margin: auto;
  }

}