.search-main__title {
    font-family: Roboto Slab, Times;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    width: 608px;
    margin: 80px 0 32px;
}