.footer__link {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    text-decoration: none;
    margin-left: 45px;
    cursor: pointer;
    display: block;
}

.footer__link:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 685px) {
  .footer__link {
    margin: 0 0 23px 0;

  }

}