.search-main__text {
    font-family: Roboto, Times;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 545px;
    margin: 0 0 64px;
}

@media screen and (max-width: 770px) {
  .search-main__text {
    width: 448px;
    margin-bottom: 48px;

  }

}

@media screen and (max-width: 509px) {
  .search-main__text {
    width: 288px;
    margin-bottom: 122px;

  }

}