@import url('./_up-button/popup__error_up-button.css');

.popup__error {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    margin-top: -28px;

}