@import url('../header/header.css');
@import url('./search-main/search-main.css');

.search {
    background-image: url('../../image/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
    max-width: 1440px;
    width: 100%;
    height: 576px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (max-width: 770px) {
  .search {
    height: 400px;

  }

}

@media screen and (max-width: 509px) {
  .search {
    height: 536px;

  }

}
