.search-main__title {
    font-family: Roboto Slab, Times;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    width: 608px;
    margin: 80px 0 32px;
}


@media screen and (max-width: 770px) {
  .search-main__title {
    font-size: 36px;
    line-height: 40px;
    width: 385px;
    margin: 39px 0 16px;

  }

}

@media screen and (max-width: 509px) {
  .search-main__title {
    width: 285px;
    margin: 30px 0 16px;

  }

}