.card__del-icon {
  background-image: url('../../../image/icon-del.png');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  border: 0;
  height: 40px;
  width: 40px;
  margin-top: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.card__del-icon:hover {

  background-image: url('../../../image/del-icon-hover.png');
}


@media screen and (max-width: 770px) {
  .card__del-icon {
    margin-top: 8px;
    margin-right: 8px;

  }
}

@media screen and (max-width: 764px) {
  .card__del-icon {
    margin-top: 16px;
    margin-right: 16px;

  }
}