@import url('./__title/about-author__title.css');
@import url('./__paragraph/about-author__paragraph.css');

.about-author__text {
    padding-top: 99px;
}


@media screen and (max-width: 1250px) {
  .about-author__text {
    /*padding-right: 40px*/

  }

}



@media screen and (max-width: 770px) {
  .about-author__text {
    padding-top: 7px;

  }

}

@media screen and (max-width: 509px) {
  .about-author__text {
    display: flex;
    flex-direction: column;
    width: 90%;


  }

}