.search-field__text {
    font-family: Roboto, Times;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    border: none;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    width: 608px;
    padding-left: 24px;
    outline: none;
    caret-color: #2F71E5;
}