@import url('./_black/button-menu_black.css');

.button-menu {
  background: rgba(196, 196, 196, 0.01);
  background-image: url('../../image/menu.png');
  background-size: cover;
  background-position: center;
  border: 0;

  width: 24px;
  height: 24px;
  display: none;
}

@media screen and (max-width: 685px) {
  .button-menu  {
    display: block;


  }

}