.card__image {
  background-image: url('../../../image/image_08.png');
  background-size: cover;
  background-position: center;
  border-radius: 16px 16px 0 0;

  width: 400px;
  height: 272px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: relative;
}