.result-search__title {
  font-family: Roboto Slab, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-left: 104px;
  margin-top: 80px;
  margin-bottom: 47px;

}



@media screen and (max-width: 930px) {
  .result-search__title {
    padding: 0 0 0 0;
    margin: auto;
  }

}

@media screen and (max-width: 770px) {
  .result-search__title {
    margin: 40px 0 25px 40px;
    font-size: 30px;
    line-height: 34px;
  }

}

@media screen and (max-width: 660px) {
  .result-search__title {
    margin: auto;
    width: 288px;
    margin-top: 32px;
    margin-bottom: 14px;

  }

}