@import url('./__link/footer__link.css');
@import url('./__link/_icon/footer__link_icon.css');
@import url('./__nav/_icon/footer__nav_icon.css');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin-top: 16px
}