@import url('./_black/header__logo_black.css');

.header__logo {
    font-family: Roboto Slab, Times;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 104px;
    margin-bottom: 28px;
}