@import url('./__text/main-saved__text.css');
@import url('./__title/main-saved__title.css');

.main-saved {
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 509px) {
  .main-saved {
    margin-bottom: 21px;

  }

}